@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 8px black;
    background-image: url('img/1996.jpg');
}

.center {
    text-align: center;
}

img {
    border-radius: 4%;
}

.title {
    font-size: 32px;
}

footer {
    font-size: 8px;
}

footer a {
    margin: 3px;
}