@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 8px black;
    background-image: url('img/bg.jpg');
}

.center {
    text-align: center;
}