@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 8px black;
    background-image: url('img/1996.jpg');
}

.center {
    text-align: center;
}

img {
    border-radius: 4%;
}

.title {
    font-size: 32px;
}

footer {
    font-size: 12px;
}

footer a {
    margin: 3px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    background-color: rgb(185, 0, 139);
    color: white;
    transition: 0.5s;
    cursor:pointer;
    width: 3rem;
    height: 1rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

button:hover {
    transform: scale(1.2);
    background-color: rgb(233, 8, 177);
}